{% extends 'core/base.html' %}
{% block content %}
<section class="py-5 bg-light" id="about-us">
    <div class="container">
        <div class="row justify-content-center text-center mt-4">
            <div class="col-lg-8">
                <h2 class="fw-bold text-primary">About Us</h2>
                <p class="lead">
                    Usherly is transforming the way event hosts connect with professional ushers. We provide a seamless
                    platform where organizers can find trained, reliable, and experienced ushers for all kinds of
                    events.
                </p>
            </div>
        </div>

        <div class="row justify-content-center text-center mb-4">
            <div class="col-lg-9">
                <p class="lead fs-5">
                    Whether it’s a wedding, corporate event, concert, or private gathering, Usherly makes it easy to
                    book the right ushering team to elevate guest experience and ensure a smooth event flow.
                    <br>
                    We're passionate about events, and even more passionate about people. Our platform empowers hosts
                    to access top-tier service, while offering ushers real opportunities to grow their careers.
                </p>

                <h4 class="mt-4 text-primary">Our Mission</h4>
                <p class="lead fs-5">
                    To simplify event staffing by connecting hosts with professional ushers through a trusted,
                    easy-to-use platform that ensures unforgettable guest experiences.
                    <br>
                    We offer a growing network of vetted ushers across various event types, simple booking tool and
                    reliable space where professionalism meets convenience. Whether you're hosting your first event or
                    your hundredth, Usherly is here to make every experience
                    smooth, elegant, and stress-free.
                </p>

                <p class="fs-5 mt-4">

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content%}